@import '../../scss/global/color-palette';
.CommentEditor {
  margin-top: 0px;
  padding: 16px;
  max-width: 560px;
  background-color: $subtle-grey;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .CommentEditor__form {
    background-color: $white;
    padding: 10px 16px;
    border: 1px solid $light-grey;
    border-radius: 8px;
    font-size: 14px;

    input {
      width: 100%;
      overflow: hidden;
    }
  }
  .CommentEditor__buton {
    margin-top: 20px;
    width: fit-content;
    text-transform: uppercase;
    display: block;
    width: 150px;
    padding: 8px;
    font-weight: 700;
    border-radius: 8px;
    font-size: 16px;
    background-color: $blue;
    color: $white;
  }
}
