@import '../../scss/global/color-palette';

.MainHeader {
  height: 60px;
  background-color: $blue;

  .MainHeader__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    align-items: center;
    height: 100%;
    color: $white;

    .MainHeader__inner-logo {
      max-width: 1130px;
      font-size: 36px;
      color: $white;

    }

    button {
      font-size: 20px;
      cursor: pointer;
    }
  }
}
