// Primary Colors
$blue: #246EE9;
$blue-hover: #3579EE;
$blue-active: #1A58CA;
$highlight-blue: rgba($blue, .04);
$highlight-blue-hover: rgba($blue, .08);
$white: #fff;

$dark-grey       : #3C464E;
$dark-grey-hover : #4F5860;
$dark-grey-active: #30383E;

$red       : #E35B3F;
$red-hover : #E76A4D;
$red-active: #B7472D;

// Secondary Colors
$yellow     : #FFC042;
$green      : #77BE4F;
$aqua       : #3BA9B1;
$medium-grey: #9DA5B2;
$light-grey : #E2E5EC;
$subtle-grey: #F7F9F9;
$dark-blue  : #2E4D81;
